.updated-text {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 0;
  font-size: 11px;
  text-align: center;
}

.table-view-cell .icon {
  color: #007aff;
}

.map {
  width: 100%;
  height: 100%;
}

.indoor-map-view {
  background: white;
}

.search {
  margin: 0 4%;
  width: 92% !important;
  position: absolute;
  top: 60px;
}


.indoor-map {
  width: 100%;
  height: 100%;
  position: relative;
}

.indoor-map > .map {
  top: 0;
  left: 0;
  width: 4183px;
  height: 3213px;
}

.indoor-map > img {
  position: absolute;
}

.indoor-map > #route {
  position: absolute;
  width: 4183px;
  height: 3213px;
}

.indoor-map > #route > svg {
  width: 100%;
  height: 100%;
}

.route-info {
  display: table;
  position: absolute;
  height: 60px;
  width: 100%;
  bottom: 0;
  background: #f8f8f8;
}

.route-info > img {
  display: table-cell;
  vertical-align: middle;
  float: right;
  height: 100%;
}

.route-info > .info-text {
  padding: 10px 7px;
  float: right;
}

.route-info #destination {
  font-size: 1.6em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  margin: 0;
  width: 130px;
}

.route-info p {
  font-size: 1.1em;
  color: black;
  margin: 3px 0;
}

.ui-menu .ui-menu-item {
  padding: 10px 1em 10px .4em;
}

.ui-menu {
  background: white;
}


.hidden {
  visibility: hidden;
}
