.updated-text {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 0;
  font-size: 11px;
  text-align: center;
}

.table-view-cell .icon {
  color: #007aff;
}

.map {
  width: 100%;
  height: 100%;
}

.indoor-map-view {
  position: relative;
}

.indoor-map__search {
  margin: 0 4%;
  width: 92% !important;
  position: absolute;
  top: 50px;
}


.indoor-map {
  width: 100%;
  height: 100%;
}
