.updated-text {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 0;
  font-size: 11px;
  text-align: center;
}

.table-view-cell .icon {
  color: #007aff;
}

.map {
  width: 100%;
  height: 100%;
}

.indoor-map-view {
  background: white;
}

.search-bar {
  width: 100% !important;
  position: absolute;
  top: 10px;
}

#splash {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    -ms-transform-origin: 50% 50%; /* IE 9 */
    -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
    transform-origin: 50% 50%;

    -o-transition: all 2000ms ease-in-out;
    -moz-transition: all 2000ms ease-in-out;
    -webkit-transition: all 2000ms ease-in-out;
    transition: all 2000ms ease-in-out;
}

#locating {
  position: fixed;
  z-index: 999999;
  top: 10px;
  right: 10px;
  text-align: right;
}

#locating p, #locating img {
  float: right;
}

#locating p {
  font-size: 20px;
  margin-top: px;
  margin-right: 20px;
}


.zoom {
  -moz-transform: scale(3);
  -webkit-transform: scale(3);
  -o-transform: scale(3);
}

#splash > img {
  width: 100%;
  height: 100%;
}

.bar.bar-header-secondary {
  top: 14px;
}

.search {
  width: 100% !important;
  position: absolute;
  top: 30px;
  color: #666;
}


.indoor-map {
  width: 100%;
  height: 100%;
  position: relative;
}

.indoor-map > .map {
  top: 0;
  left: 0;
  width: 4183px;
  height: 3213px;
}

.indoor-map > img {
  position: absolute;
}

.indoor-map > #route {
  position: absolute;
  width: 4183px;
  height: 3213px;
}

.indoor-map > #route > svg {
  width: 100%;
  height: 100%;
}

.route-info {
  display: table;
  position: absolute;
  height: 60px;
  width: 100%;
  bottom: 0;
  background: #f8f8f8;
}

.route-info > img {
  display: table-cell;
  vertical-align: middle;
  float: right;
  height: 100%;
}

.route-info > .info-text {
  padding: 10px 7px;
  float: right;
}

.route-info #destination {
  font-size: 1.6em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  margin: 0;
  width: 130px;
}

.route-info p {
  font-size: 1.1em;
  color: black;
  margin: 3px 0;
}

.ui-menu .ui-menu-item {
  padding: 10px 1em 10px .4em;
}

.ui-menu {
  background: white;
}


.hidden {
  visibility: hidden;
  display: none;
}
